/* index.css - Global Reset and Basic Styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font for: Electrical Engineer | Passionate about Learning and Helping Others */
.hero h2 {
  font-family: 'Noto Serif', serif;
  font-weight: 500;
}

/* Font for: About Me */
.about-page h2 {
  font-family: 'Noto Serif', serif;
  font-weight: 500;
}

/* Font for: Projects */
.projects-page h2 {
  font-family: 'Noto Serif', serif;
  font-weight: 500;
}

/* Font for: Research */
.research-page h2 {
  font-family: 'Noto Serif', serif;
  font-weight: 500;
}
